
html{
    background: rgb(2,0,36);
    background: linear-gradient(148deg, rgba(2,0,36,1) 0%, rgba(116,252,153,1) 0%, rgba(6,209,214,1) 52%, rgba(40,108,154,1) 100%);
    height: 100%;

}
img{
    width: 4cm


}
.header{
    display: flex;
    align-items: center;
    justify-content: center;
}
.header img{
    flex-grow: 0;
    flex-shrink: 0;

}
h1{
    color: white;
    font-size: 85px;
    font-weight: bold;
    font-family: Impact;
    margin-left: 0.5cm;
    margin-top: 1cm;


}
h2{
    margin-left: 1cm;
    font-size: 35px;
    font-family: "Gill Sans", sans-serif;
}

h3{
    margin-left: 1.5cm;
    font-size: 20px;
    font-family:  "Gill Sans", sans-serif;

}